@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f0f5; 
    color: #333; 
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.tab {
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.tab.active {
    background-color: #888;
    color: white;
}

.tab:hover {
    background-color: #aaa;
}

.main-container {
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input[type="text"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

label {
    display: block;
    text-align: left;
    font-weight: bold;
}
button {
    padding: 10px 20px;
    margin: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

button#resetCalories {
    background-color: #d9534f;
}

button#resetExpenses {
    background-color: #d9534f;
}

button#resetCalories:hover{
    background-color: #c9302c;
}

button#resetExpenses:hover{
    background-color: #c9302c;
} 

ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

h3, h4 {
    text-align: center;
    margin-top: 20px;
}

